{{% extends "base_generic.html" %}

{% block vsebina %}
  <h1>Postavka: {{ postavka.kratek_opis_postavke }}</h1>

  <p><strong>Vrsta del:</strong> <a href="">{{ postavka.vrsta_del }}</a></p> 
  <p><strong>Opis postavke:</strong> {{ postavka.opis_postavke }}</p>
  <p><strong>Enota mere:</strong> {{ postavka.enota_mere }}</p> 
  <p><strong>Norma čas:</strong> {{ postavka.norma_cas }}</p>  
  <p><strong>Splošna določila:</strong> {{ postavka.splošna_določila}}</p>  
  <p><strong>Del postavke :</strong> 
  {% for a in postavka.del_postavke.all %} <a href="{{a.get_absolute_url}}">{{ a.opis_dela_postavke }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endblock %}


