{% extends "base_generic.html" %}

{% block vsebina %}
    <h1>Postavka</h1>

    {% if postavka_list %}
    <ul>

      {% for postavka in postavka_list %}
      <li>
        <a href="{{ postavka.get_absolute_url }}">{{ postavka.opis_postavke }}</a> ({{postavka.enota_mere}} {{postavka.vrsta_del}})

      {% for del in postavka.del_postavke.all %}
        <a href="{{ postavka.get_absolute_url }}">{{ del.kratek_opis_dela_postavke }}</a>      

      {% endfor %}
 

      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       


    {{vaja1}}
    {% for a in vaja %}{{a}}{% endfor %}
    {{vaja2}}





    {% if seznam %}
    <ul>

      {% for postavka in seznam %}
      <li>
        <a href="{{ postavka.get_absolute_url }}">{{ postavka.opis_postavke }}</a> ({{postavka.enota_mere}} {{postavka.vrsta_del}})

      {% for del in postavka.del_postavke.all %}
        <a href="{{ postavka.get_absolute_url }}">{{ del.kratek_opis_dela_postavke }}</a>      

      {% endfor %}
 

      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}    


{% endblock %}




