{% extends "base_generic.html" %}

{% block vsebina %}
<h1>STANDARDIZIRANI POPISI DEL</h1>

  <p>Dobrodošli na <em>Standardizirani popisi del</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>Vsebina:</p>
  <ul>
    
    <li><strong>Zvrst:</strong> {{zvrst1}}</li>
    <li><strong>Zvrst:</strong> {% for e in zvrst %}{{e.naziv_zvrsti}}{%endfor%}</li>
    <li><strong>Skupina:</strong>{% for e in skupina %} {{ e.naziv_skupine }}{%endfor%}</li>
    <li><strong>Vrsta del:</strong> {% for e in vrstadel %}{{e.naziv_vrste_del }}{%endfor%}</li>
    <li><strong>Postavka:</strong> {% for e in postavka %}{{e.opis_postavke }}{%endfor%}</li>
    <li><strong>DelPostavke:</strong>{% for e in delpostavke %}{{ e.opis_dela_postavke }}{%endfor%}</li>
  </ul >
{% endblock %}